@charset "UTF-8";
@import url(font-awesome.min.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Type */

	html {
		font-size: 12t;
	}

	body {
		background-color: #67A3D9;
		color: #444;
	}

	body, input, select, textarea {
		font-family: "Cousine";
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		text-decoration: underline;
		color: #5AA6ED;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 400;
		color: #555;
	}

	p {
		margin: 0 0 2rem 0;
	}

/* List */

	ul.alt {
		list-style: none;
		padding-left: 0;
	}

		ul.alt li {
			border-top: solid 1px rgba(144, 144, 144, 0.25);
			padding: 0.5rem 0;
		}

			ul.alt li:first-child {
				border-top: 0;
				padding-top: 0;
			}

/* Header */

	#header {
		background: transparent;
		color: #a6a6a6;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .toggle span {
			display: none;
		}

		#header > a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
			color: #FFF;
		}

			#header > a[href="#menu"] {
				text-decoration: none;
				-webkit-tap-highlight-color: transparent;
				position: relative;
				transition: color 0.3s ease;
			}

				#header > a[href="#menu"]:before {
					content: "\f0c9";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
					display: inline-block;
					margin: 0 0.5em 0 0;
					transition: transform 0.3s ease;
				}

				#header > a[href="#menu"]:hover {
					color: #F6D2E0;
				}

				#header > a[href="#menu"]:hover:before {
					animation: wobble-bars 1s ease-in-out infinite;
				}

			#header > a + a[href="#menu"]:last-child {
				border-left: solid 1px rgba(0, 0, 0, 0.15);
				padding-left: 1.25em;
				margin-left: 0.5em;
			}

			#header > a:last-child {
				padding-right: 1.25em;
			}

	@media screen and (max-width: 980px) {
		#header {
			height: 44px;
			line-height: 44px;
		}
	}

	@media screen and (max-width: 480px) {
		#header {
			min-width: 320px;
		}
	}

/* Menu */

	#menu {
		-moz-transform: translateX(20em);
		-webkit-transform: translateX(20em);
		-ms-transform: translateX(20em);
		transform: translateX(20em);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #0671B7;
		box-shadow: none;
		color: #000;
		height: 100%;
		max-width: 85%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 10em;
		z-index: 10002;
	}

		#menu > ul {
			margin: 0 0 1rem 0;
		}

			#menu > ul.links {
				list-style: none;
				padding: 0;
			}

				#menu > ul.links > li {
					padding: 0;
				}

					#menu > ul.links > li > a:not(.button) {
						border: 0;
						color: #fff;
						display: inline-block;
						line-height: 2em;
						text-decoration: none;
						position: relative;
						overflow: visible;
						--underline-angle: -1deg;
						--underline-position: 0.2em;
						--animation-duration: 0.3s;
						--squiggle-x1: 15%;
						--squiggle-y1: 40%;
						--squiggle-x2: 85%;
						--squiggle-y2: 60%;
						padding: 0 0.5em;
					}

					@keyframes squiggle {
						0% {
							clip-path: polygon(
								0 35%,
								var(--squiggle-x1) calc(var(--squiggle-y1) - 10%),
								var(--squiggle-x2) calc(var(--squiggle-y2) + 10%),
								100% 45%,
								100% 100%,
								0 100%
							);
						}
						50% {
							clip-path: polygon(
								0 45%,
								var(--squiggle-x1) calc(var(--squiggle-y1) + 10%),
								var(--squiggle-x2) calc(var(--squiggle-y2) - 10%),
								100% 35%,
								100% 100%,
								0 100%
							);
						}
						100% {
							clip-path: polygon(
								0 35%,
								var(--squiggle-x1) calc(var(--squiggle-y1) - 10%),
								var(--squiggle-x2) calc(var(--squiggle-y2) + 10%),
								100% 45%,
								100% 100%,
								0 100%
							);
						}
					}

					#menu > ul.links > li > a:not(.button)::after {
						content: '';
						position: absolute;
						bottom: var(--underline-position);
						left: 0;
						width: 100%;
						transform-origin: left center;
						transform: scaleX(0) rotate(var(--underline-angle));
						height: 0.2em;
						background: #F6D2E0;
						transition: transform var(--animation-duration) cubic-bezier(.65,.05,.36,1);
						opacity: 0.8;
						animation: squiggle 1s ease-in-out infinite;
						clip-path: polygon(
							0 35%,
							var(--squiggle-x1) var(--squiggle-y1),
							var(--squiggle-x2) var(--squiggle-y2),
							100% 45%,
							100% 100%,
							0 100%
						);
					}

					#menu > ul.links > li > a:not(.button):hover::after {
						transform: scaleX(1) rotate(var(--underline-angle));
					}

					#menu > ul.links > li > a:not(.button):hover {
						color: #F6D2E0;
						transform: scale(1.02);
						transition: transform 0.2s ease;
					}

		#menu .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #fff;
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#menu .close:before {
				content: "\f00d";  /* FontAwesome 'times' (X) icon */
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				font-size: 1.25em;
				display: inline-block;
			}

			#menu .close:hover {
				color: #F6D2E0;
			}

			#menu .close:hover:before {
				animation: wobble-close 1s ease-in-out infinite;
			}

		#menu.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

/* Main */

	#main {
		display: -ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-color: #67A3D9;
		background-position: center;
		background-size: cover;
		border-top: 0;
		min-height: 100vh;
		position: relative;
		text-align: center;
	}

		#main p {
			color: #FFF;
			font-size: 1.25rem;
			margin-bottom: 3rem;
		}

		#main a {
			color: #FFF;
			text-decoration: none;
		}

		@media screen and (max-width: 736px) {
			#main {
				min-height: 0;
				height: auto !important;
				padding: 6rem 2rem 4rem 2rem;
			}

				#main p {
					font-size: 1em;
				}
		}

		@media screen and (max-width: 480px) {
			#main p {
				font-size: .8em;
			}
		}

@keyframes wobble-bars {
	0% {
		content: "\f0c9";
		transform: rotate(-2deg) scale(1);
	}
	25% {
		content: "\f0c9";
		transform: rotate(2deg) scale(1.05);
	}
	50% {
		content: "\f0c9";
		transform: rotate(-1deg) scale(1.07);
	}
	75% {
		content: "\f0c9";
		transform: rotate(1deg) scale(1.05);
	}
	100% {
		content: "\f0c9";
		transform: rotate(-2deg) scale(1);
	}
}

@keyframes wobble-close {
	0% {
		transform: rotate(-2deg) scale(1);
	}
	25% {
		transform: rotate(2deg) scale(1.05);
	}
	50% {
		transform: rotate(-1deg) scale(1.07);
	}
	75% {
		transform: rotate(1deg) scale(1.05);
	}
	100% {
		transform: rotate(-2deg) scale(1);
	}
}

@keyframes textWave {
	0% {
		transform: translateY(0) rotate(-0.3deg) scale(1);
		opacity: 0.95;
	}
	25% {
		transform: translateY(-1px) rotate(0.3deg) scale(1.005);
		opacity: 1;
	}
	50% {
		transform: translateY(0) rotate(-0.2deg) scale(1.003);
		opacity: 0.97;
	}
	75% {
		transform: translateY(1px) rotate(0.3deg) scale(1.005);
		opacity: 1;
	}
	100% {
		transform: translateY(0) rotate(-0.3deg) scale(1);
		opacity: 0.95;
	}
}
